<div id="tob_bar">
  <a class="modalInput" rel="#login">Login</a>
    <div class="modal" id="login"> 
      <%= render :partial => 'sessions/login' %>
    </div>
  <a class="modalInput" rel="#signup">Signup</a>
  <%= link_to "Signup", signup_path %>
</div>
