<p id="notice"><%= notice %></p>

<h2>Welcome to the gardenXange!</h2>
<p>
There are 123 users sharing food.
</p>
<p>
<h4><a href="#">Click for tips growing food in your climate</a></h4>
</p>
<p>
<h4>Also growing food like your's</h4>
<a href="#" style="display:inline">mark</a> from Lathrop is also growing tomatoes.</br>
<a href="#" style="display:inline">beth</a> from Manteca is also growing artichokes.
</p>
