<p id="notice"><%= notice %></p>

<h2>Welcome to the gardenXange!</h2>
<p>
There are <%= @user_count %> users sharing food.
</p>
<p>
If you are a new user, <a class="" data-toggle="modal" href="#signup" >Sign Up here</a>.<br/>
If you are an existing user, please <a class="" data-toggle="modal" href="#login" >Login</a>.
</p>


