
.signup-wizard {
  margin: 100px auto;
  padding: 0 20px;
  clear: both;
  width: 40%
}

h1 {
  color: #59806D;
}

.signup-wizard-content {
   border-left: 1px solid #E8E8E8;
   border-top: 1px solid #E8E8E8;
   box-shadow: 3px 3px 3px #CCCCCC;
   border-radius: 20px;
   background-color: #FFFFFF;
   /*border-color: #666666;
   */
   margin: 0  5px 0 -10px;
   padding: 30px;
   position: relative;
}

input.signup-field {
  float: right;
  margin-right: 60px;
}
